/*body{*/
/*!*    background : #e1bfbe;*!*/
/*!*}*!*/
.primary-background{
    background: #00bcd4!important;
    /*color: black;*/
    }
a{
    color: white;
}
label {
    color: #000000; /* Black or any color that contrasts well with the background */
}
